.main-button {
    background-color: #FFBF00;
    color: black;
  }
  
  .main-button:hover {
    background-color: #d0a00e; /* Darker shade of yellow on hover */
    color: white;
  }
  
  .main-button:active {
    border-color: #cbd5e0; /* Light gray border */
    box-shadow: 0 0 0 2px #cbd5e0; /* Light gray border shadow */
  }

  .dbButton {
    background-color: #b3bbc2;
    color: black; /* Set text color to black */
  }
  
  .dbButton:hover {
    background-color: #475569; /* Darker shade of gray */
    color: white; /* Text color on hover */
  }
  
  .dbButton:active {
    border-color: #cbd5e0; /* Light gray border */
    box-shadow: 0 0 0 2px #cbd5e0; /* Light gray border shadow */
  }